button {
  padding: 5px 10px;
  background-color: #9b5bf5;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7c3bbf;
}

input[type="text"],
input[type="number"] {
  padding: 5px 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #9b5bf5;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul li {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 16px;
}

ul li:hover {
  color: red;
  font-size: 20px;
}
