label {
  color: #000;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
.hero-details {
  background-color: #f0f0f0;
  border: 2px solid #9b5bf5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.hero-name {
  color: #9b5bf5;
}
button {
  margin-top: 20px;
  background-color: #9b5bf5;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
}
button:hover {
  background-color: #7c3bbf;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
